/* start bottom-top button */

.btp {
    z-index: 100;
    display: none;
    background: #79BE0B;
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
    padding-top: 6px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.btp:hover {
    background: #030d26;
}

.btp .fa {
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
    padding: 4px;
}

/* end bottom-top button*/

/*******************
start custom modals
******************/

.modal {
    top: 4%;
}

.modal-dialog{
    width: 400px;
}

.custom-modal .close-btn {
    position: absolute;
    right: 12px;
    top: 10px;
    color: #8d97ad;
    font-size: 25px;
    background: #ffffff;
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    border-radius: 100%;
    line-height: 19px;
}

.custom-modal .modal-body {
    overflow: hidden;
}

.custom-modal .modal-bg-img {
    background-size: cover;
    background-position: center center;
    min-height: 491px;
}

.modal1 .modal-bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 40px;
}

.modal1 .input-group {
    margin-top: -45px;
}

.modal2 .modal-bg {
    padding: 30px;
}

.modal3 .modal-bg {
    padding: 50px 40px 60px 25px;
}

.modal4 .modal-bg {
    padding: 55px 55px 55px 40px;
}

.p-0 {
    padding: 0
}

.po-relative {
    position: relative;
}

/* end custom modal */

.form-control {
    border: 1px solid #a9a9a9;
    color: #555;
}

.form-control::-moz-placeholder {
    color: #555;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #555
}

.form-control::-webkit-input-placeholder {
    color: #555
}